.Notifier {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    z-index: 2;

    &.info {
        background: rgba(0, 255, 0, 0.5);
    }

    &.error {
        background: rgba(255, 0, 0, 0.8);
    }
}
